/* First Theme */

main {
	background: #c9127a;
	color: #fafafa;
}

.icons-social a {
	color: #fafafa;
}

.icons-social a svg path {
	fill: #fafafa;
}

.dev-badge {
	width: 76px;
}

a {
	color: #ffffff;
}

/* Change Scroll Bar Style */
/* width */
::-webkit-scrollbar {
	width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
	background: #bd83a4;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #a3005c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #ff7ec7;
}
