/* Second Theme */

main {
	background: #ffeb3b;
	color: #1e1e1e;
}

.icons-social a {
	color: #1e1e1e;
}

.icons-social a svg path {
	fill: #1e1e1e;
}

#section07 {
	color: #1e1e1e;
}
#section07 a {
	color: #1e1e1e;
}
#section07 a span {
	border-left: 1px solid #1e1e1e;
	border-bottom: 1px solid #1e1e1e;
}
