/* Typography */

/* @font-face {
	font-family: "Reem Kufi";
	src: url("../res/Reem_Kufi/ReemKufi-Regular.ttf");
} */

html {
	font-family: "Roboto", sans-serif;
}

button {
	font-family: "Roboto", sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */
/* Only biografia titol abajo */
#titol {
	display: none;
}

.bold {
	font-weight: 700;
	font-size: 1.3em;
}

.italic {
	font-style: italic;
}

/* All titles style below */
.titol {
	/* margin: 10px; */
	margin-left: -20px;
	padding-top: 10px;
	font-family: "Reem Kufi", sans-serif;
}

.body > .titol {
	font-family: "Reem Kufi", sans-serif;
}

.body {
	margin: auto;
	padding: 10px;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 170px 30px;
	overflow: hidden;
}

main:not(.projects) {
	min-height: 100vh;
	justify-content: center;
	text-align: center;
}

main > .intro {
	font-family: "Reem Kufi", sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.2rem;
}

.devto svg {
	margin-bottom: -0.2rem;
	margin-left: 0.675rem;
	width: 2.65rem;
	height: 2.65rem;
}

h2 {
	text-align: left;
}

ul.projects {
	text-align: left;
	padding-bottom: 1em;
	list-style: square;
}

.transparent {
	padding: 25px;
	margin: 20px;
	height: 400px;
}

.body {
	margin-top: 40px;
	text-align: initial;
	max-width: 1200px;
}

.body > div {
	margin: 10px 0px;
}

.wrap > img {
	float: right;
	max-width: 400px;
	padding: 20px;
	padding-top: 0px;
	padding-right: 0px;
}

p:last-of-type {
	margin-bottom: 3em;
}

p {
	margin: 1em 0em;
}

/* Animate the scroll arrow */

.demo a {
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font: normal 400 20px/1 "Josefin Sans", sans-serif;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition: opacity 0.3s;
}

.demo a:hover {
	opacity: 0.5;
}

#section07 {
	margin-top: 120px;
}
#section07 a {
	padding-top: 80px;
}
#section07 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb07 2s infinite;
	animation: sdb07 2s infinite;
	opacity: 0;
	box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
	top: 16px;
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}
#section07 a span:nth-of-type(3) {
	top: 32px;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
