/* Third Theme */

main {
	background: #fafafa;
	color: #0277bd;
}

.icons-social a {
	color: #0277bd;
}

.icons-social a svg path {
	fill: #0277bd;
}

#section07 {
	color: #0277bd;
}
#section07 a {
	color: #0277bd;
}
#section07 a span {
	border-left: 1px solid #0277bd;
	border-bottom: 1px solid #0277bd;
}

/* Change Scroll Bar Style */
/* width */
::-webkit-scrollbar {
	width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
	background: #a5bdca;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #2c87bb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #0277bd;
}
